[user]
  name = Timothy Merritt
  email = timmybytes@gmail.com
[color]
  ui = auto
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[init]
	defaultBranch = main
[commit]
  template = /Users/nym/.dotfiles/git/commit-conventions.txt
[core]
	editor = nvim +16 -c 'startinsert'
	excludesfile = /Users/nym/.dotfiles/git/.gitignore_global
	ignorecase = false
[diff]
	tool = vimdiff
[log]
	date = local
