[user]
  name = Timothy Merritt
  email = timmybytes@gmail.com
[color]
  ui = auto
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[init]
	defaultBranch = main
[commit]
  template = /Users/timothymerritt/.dotfiles/git/commit-conventions.txt
[core]
	editor = nvim +16 -c 'startinsert'
	excludesfile = /Users/timothymerritt/.dotfiles/git/.gitignore_global
	ignorecase = false
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[log]
	date = local
[pull]
	rebase = false
